<!DOCTYPE html>
<html ng-app='spliced'>
  <head>
    <meta name="viewport" content="initial-scale=1">
    <meta charset="utf-8" />
    <title>Spliced</title>
    <link rel="stylesheet" type="text/css" href="styles/style.css" />
    <link rel="stylesheet" type="text/css" href="lib/angular-carousel/dist/angular-carousel.css" />
  </head>
  <body>
    <div class="container">
      <!-- <a class="lang" ng-click="chooseSpanish()">Spanish</a> -->

      <h1>Spliced</h1>
      <div ng-controller="LangSelector">
        <a class="lang" id="english" alt="english" ng-click="chooseLanguage('enUS')"><img src="../../assets/images/UnitedKingdom_small.png" alt="English" /></a>
        <a class="lang" id="spanish" alt="spanish" ng-click="chooseLanguage('esES')"><img src="../../assets/images/Spain_small.png" alt="Spanish" /></a>
        <a class="lang" id="french" alt="french" ng-click="chooseLanguage('frFR')"><img src="../../assets/images/France_small.png" alt="French" /></a>
        <a class="lang" id="italian" alt="italian" ng-click="chooseLanguage('itIT')"><img src="../../assets/images/Italy_small.png" alt="Italian" /></a>
        <a class="lang" id="japanese" alt="japanese" ng-click="chooseLanguage('jaJP')"><img src="../../assets/images/Japan_small.png" alt="Japanese" /></a>
      </div>

      <div ng-view></div>

      <script src="lib/angular/angular.js"></script>
      <script src="lib/angular-touch/angular-touch.js"></script>
      <script src="lib/angular-carousel/dist/angular-carousel.js"></script>
      <script src="lib/angular-route/angular-route.js"></script>
      <script src="lib/angular-cookies/angular-cookies.js"></script>
      <script src="app/services/angular-canvas-painter.js"></script>

      <script src="langs/strings.js"></script>
      <script src="langs/strings_es.js"></script>
      <script src="langs/strings_fr.js"></script>
      <script src="langs/strings_it.js"></script>
      <script src="langs/strings_ja.js"></script>
      <script src="langs/langSelector.js"></script>
      <script src="app/draw/draw.js"></script>
      <script src="app/ready/ready.js"></script>
      <script src="app/services/services.js"></script>
      <script src="app/home/home.js"></script>
      <script src="app/app.js"></script>
    </div>
  </body>
</html>
