<div id='draw'> 
  <div class="drawing-area" ng-hide="data.submitted">
    <p>You are drawing the {{ data.bodyPart[data.userId] }}!</p>
    <p>You have {{ timeRemaining | date : "m:ss" }} left!</p>
    <div pw-canvas options="{undo: true, width: 400, height: 200, color: data.penColor, lineWidth: 4, imageSrc: data.templateSrc}" ng-model="data.drawing" class="canvas-container" version="data.drawing.version"></div>
    <div pw-color-selector="data.penColors" color="data.penColor"></div>
    <a class="button" ng-click="save()">Save Drawing</a>
    <a ng-click="undo()" class="button minor">Undo</a>
    <a ng-click="reset()" class="button minor">Start Over</a>
  </div>

<!--   <div class="drawing-success" ng-show="data.submitted">
    {{ data.success }}
    <p><a ng-click="getGameStatus()" class="button">OK</a></p>
  </div> -->

</div>